<div class="modal-container" *ngIf="showModal">
    <div class="modal-conteudo" >
            <div class="col-auto">
                <div class="row row-space-bottom">
                    <div class="col-auto">
                       <app-input-text-autocomplete
                       id="rua"
                       label="Rua:"
                       [options]="listaRuas"
                       [optionDefault]="ruaDefault"
                       (optionSelected)="handleRua($event)"
                       ></app-input-text-autocomplete>
                       
                    </div>
                    <div class="col-8">
                        <app-input-text-autocomplete
                       id="bairro"
                       label="Bairro:"
                       [options]="listaBairros"
                       [optionDefault]="bairroDefault"
                       (optionSelected)="handleBairro($event)"
                       ></app-input-text-autocomplete>
                    </div>
                    
                </div>
                <div class="row row-space-bottom">
                    
                    <div class="col-2">
                        <app-input label="Número:" id="pedido-endereco-numero" [(value)]="endereco.numero"></app-input>
                    </div>
                    <div class="col-2">
                        <app-input label="Bloco:" id="pedido-endereco-bloco" [(value)]="endereco.bloco"></app-input>
                    </div>
                    <div class="col-2">
                        <app-input label="Apartamento" id="pedido-endereco-apartamento" [(value)]="endereco.apartamento"></app-input>
                    </div>
                    <div class="col-auto">
                        <app-input label="Complemento:" id="pedido-endereco-complemento" [(value)]="endereco.complemento"></app-input>
                    </div>
                </div>
                <div class="row row-space-bottom" id="pedido-rodape">
                    <div class="col-2">
                        <app-input [readonly]="true" label="Taxa Entrega" id="pedido-taxa"
                        [value]="endereco.bairro.valorTaxa"
                        ></app-input>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button (click)="save()">Gravar</button>
            </div>
    </div>
</div>