<app-page titulo="Lista de Pedidos" [actionButtons]="pageActionsButtons" (actionDataClick)="actionButtonPageClick($event)">
  <div class="row">
    <div class="col-5">
        <app-input-select (valueChange)="setDataFilter($event)" label="Data Referência" [options]="datasPedidos"></app-input-select>
    </div>
  </div>
  <div class="row">
    <app-table
      [headers]="tableHeader"
      [columns]="tableColuns"
      [columnSize]="tableColunsSize"
      [data]="tableData"
      [actionButtons]="tableActions"
      (actionDataClick)="tableActionDataClick($event)" ></app-table>
  </div>
</app-page>
