<app-page titulo="Cadastro de Clientes">
    <div class="row no-print">
        <div class="col-4">
            <app-input label="Telefone:" id="pedido-cliente" [(value)]="telefoneFiltro" />
        </div>
        <div class="col-button">
            <app-button-action (click)="getDadosClienteByTelefone(telefoneFiltro)" type="lupa" />
        </div>
    </div>
    <div class="row" *ngIf="cliente.id != null && cliente.id != 0">
        <app-fieldset label="Dados Cliente">
            <div class="col-auto">
                <div class="row">
                    <div class="col-auto">
                        <app-fieldset label="Dados Pessoais">
                            <div class="col-4">
                                <app-input [readonly]="clientePedidoByTelefone" label="Telefone:" id="pedido-cliente"
                                    [(value)]="cliente.telefone" />
                            </div>
                            <div class="col-auto">
                                <app-input label="Cliente:" id="pedido-cliente"
                                    [(value)]="cliente.nome" />
                            </div>
                        </app-fieldset>
                    </div>
                    <div class="col-4 no-print">
                        <app-fieldset label="Ações">
                            <div class="col-button">
                                <app-button-action (click)="adicionarCliente()" type="salvar" />
                            </div>
    
                        </app-fieldset>
                    </div>
                </div>
                <div class="row">
                    <app-fieldset label="Endereço">
                        <div class="col-auto">
                            <div class="row">
                                <div class="col-auto">
                                    <app-input-text-autocomplete id="rua" label="Rua:" [options]="listaRuas" [(value)]="cliente.rua" />
                                </div>
                                <div class="col-8">
                                    <app-input-text-autocomplete id="bairro" label="Bairro:" [options]="listaBairros" [(value)]="cliente.bairro" />
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-2">
                                        <app-input label="Número:" id="pedido-endereco-numero" [(value)]="cliente.numero" />
                                    </div>
                                    <div class="col-2">
                                        <app-input label="Bloco:" id="pedido-endereco-bloco" [(value)]="cliente.bloco" />
                                    </div>
                                    <div class="col-3">
                                        <app-input label="Apartamento" id="pedido-endereco-apartamento"
                                            [(value)]="cliente.apartamento" />
                                    </div>
                                    <div class="col-auto">
                                        <app-input label="Complemento:" id="pedido-endereco-complemento"
                                            [(value)]="cliente.complemento" />
                                </div>
                            </div>
                        </div>
                    </app-fieldset>
                </div>
                <div class="row">
                    <app-fieldset [label]="'Pedidos Realizados: ' + tablePedidoClienteData.length">
                        <app-table [headers]="tablePedidoClienteCabecalho" [columns]="tablePedidoClienteColunas" [columnSize]="tablePedidoClienteColunasSize" [data]="tablePedidoClienteData" [actionButtons]="tablePedidoClienteActionsButtons" />
                    </app-fieldset>
                </div>
            </div>
        </app-fieldset>
    </div>
    
    <div class="row no-print">
        <app-fieldset [label]="'Clientes Diario: ' + tableClienteDiarioData.length">
            <app-table [headers]="tableClienteDiarioCabecalho" [columns]="tableClienteDiarioColunas" [columnSize]="tableClienteDiarioColunasSize" [data]="tableClienteDiarioData" [actionButtons]="tableClienteDiarioActionsButtons" (actionDataClick)="tableClientesActionDataClick($event)" />
        </app-fieldset>
    </div>
</app-page>
