<app-page titulo="Cadastros de Acréscimos">
    <div class="row no-print">
        <div class="col-8">
            <app-input id="acrescimo" label="Acréscimo:" [(value)]="pizzaAcrescimo.nome"/>
        </div>
        <div class="col-button">
            <app-button-action type="lupa" />
        </div>
    </div>
    <div class="row">
        <app-fieldset label="Dados Acréscimo">
            <div class="col-auto">
                <div class="row">
                    <div class="col-auto">
                        <app-input label="Acréscimo:" [(value)]="pizzaAcrescimo.nome" />
                    </div>
                    
                    <div class="col-4 no-print">
                        <app-fieldset label="Ações">
                            <div class="col-button">
                                <app-button-action type="salvar" />
                            </div>

                        </app-fieldset>
                    </div>
                </div>
                <div class="row">
                    <app-fieldset label="Cadastro de Valores">
                        <div class="col-2">
                            <app-input label="M Metade:" type="number" [(value)]="pizzaAcrescimo.tamanhoMediaMetade" />
                        </div>
                        <div class="col-2">
                            <app-input label="G Metade:" type="number" [(value)]="pizzaAcrescimo.tamanhoGrandeMetade" />
                        </div>
                        <div class="col-2">
                            <app-input label="GG Metade:" type="number" [(value)]="pizzaAcrescimo.tamanhoGiganteMetade" />
                        </div>
                        <div class="col-2">
                            <app-input label="M Toda:" type="number" [(value)]="pizzaAcrescimo.tamanhoMediaToda" />
                        </div>
                        <div class="col-2">
                            <app-input label="G Toda:" type="number" [(value)]="pizzaAcrescimo.tamanhoGrandeToda" />
                        </div>
                        <div class="col-2">
                            <app-input label="GG Toda:" type="number" [(value)]="pizzaAcrescimo.tamanhoGiganteToda" />
                        </div>
                    </app-fieldset>
                    
                </div>
            </div>
        </app-fieldset>
    </div>

    <div class="row no-print">
        <app-fieldset [label]="'Acréscimos Cadastrados: ' + tableData.length">
            <app-table [headers]="tableCabecalho" [columns]="tableColunas" [columnSize]="tableColunasSize"
                [data]="tableData" [actionButtons]="tableActionsButtons"
                (actionDataClick)="tableActionDataClick($event)" />
        </app-fieldset>
    </div>
</app-page>