.input-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.input-field label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    flex-grow: 1;
}

.input-field label .label-style{
    background: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0 10px;
}

.input-field input{
    height: 25px;
    width: 25px;
    font-size: 40px;
    margin-left: 15px;
}