<app-page titulo="Cadastros de Bairros">
    <div class="row no-print">
        <div class="col-8">
            <app-input-text-autocomplete id="bairro" label="Bairro:" [options]="listaBairros" />
        </div>
        <div class="col-button">
            <app-button-action type="lupa" />
        </div>
    </div>
    <div class="row">
        <app-fieldset label="Dados Bairro">
            <div class="col-auto">
                <div class="row">
                    <div class="col-auto">
                        <app-input label="Bairro:" [(value)]="bairro.nome" />
                    </div>
                    <div class="col-3">
                        <app-input label="Valor Taxa:" type="number" [value]="bairro.taxaEntrega.toString()" />
                    </div>
                    <div class="col-4 no-print">
                        <app-fieldset label="Ações">
                            <div class="col-button">
                                <app-button-action type="salvar" />
                            </div>

                        </app-fieldset>
                    </div>
                </div>
            </div>
        </app-fieldset>
    </div>

    <div class="row no-print">
        <app-fieldset [label]="'Bairros Cadastrados: ' + tableData.length">
            <app-table [headers]="tableCabecalho" [columns]="tableColunas" [columnSize]="tableColunasSize"
                [data]="tableData" [actionButtons]="tableActionsButtons"
                (actionDataClick)="tableActionDataClick($event)" />
        </app-fieldset>
    </div>
</app-page>