<div class="row">
    <h1>Cadastro de Ruas</h1>
</div>
<div class="row row-space-bottom">
    <div class="col-auto">
        <div class="row row-space-bottom ">
            <div class="col-2">
                <app-input label="ID:" [readonly]="true" id="id" [(value)]="id"></app-input>
            </div>
            <div class="col-7">
                <app-input
                 label="Rua:"
                  id="rua"
                  [(value)]="nome"></app-input>
            </div>
            <div *ngIf="id != null && id != ''" class="col-3">
                <button (click)="excluir()">
                    Excluir
                </button>
            </div>
        </div>
        
        <div class="row">
            <div class="col-3">
                <button (click)="adicionar()">Salvar</button>
            </div>
        </div>
    </div>
</div>
<div class="row row-space-bottom" >
    <h1>Lista de Ruas</h1>
</div>
<div class="row">
    <div class="col-20">
        <table>
            <thead>
              <tr>
                <th style="width: 20px;">ID:</th>
                <th style="width: 20px;">Ação:</th>
                <th style="width: 40px;">Nome:</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaItem">
                <td style="width: 20px;">{{item.id}}</td>
                <td style="width: 20px;"><Button>Editar</Button></td>
                <td style="width: 40px;">{{item.nome}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>